<app-generic-list-component
      title="Affectations"
      [data]="affectations"
      [columns]="columns"
      [actions]="actionsList"
      [searchable]="true"
      [paginated]="true"
      [pageSize]="10"
      (addClicked)="onAddAffectation()"
      (searchChanged)="onSearchChanged($event)"
    />

  <app-generic-modal-component
      [showMessage]="messageShow"
      [errors]="errors"
      [show]="showModal"
      [title]="modalTitle"
      [fields]="formFields"
      [item]="selectedItem"
      [action]="modalAction"
      (close)="closeModal()"
    />
