<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    @if(errors) {
    <span class="error-message">{{errors}}</span>
    }
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" placeholder="Enter your username">
        @if(loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']) {
        <span class="error-message">Username is required</span>
        }
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" formControlName="password" placeholder="Enter your password">
        @if(loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']) {
        <span class="error-message">Password is required</span>
        }
    </div>
    <div class="flex-row">
        <button class="form-submit-btn" type="reset">Reset</button>
        <button class="form-submit-btn" type="submit">Submit</button>
    </div>
</form>