<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script> -->
<nav class="relative bg-sky-500/100 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
            <a aria-current="page" class="rounded-md bg-gray-950/50 px-3 py-2 text-sm font-medium text-white" routerLink="/accueil">Accueil</a>
            <a class="rounded-md px-3 py-2 text-sm font-medium text-black-300 hover:bg-gray-950/5 hover:text-white" routerLink="/collaborateur">Collaborateurs</a>
            <a class="rounded-md px-3 py-2 text-sm font-medium text-black-300 hover:bg-gray-950/5 hover:text-white" routerLink="/fonction">Fonction</a>
            <a class="rounded-md px-3 py-2 text-sm font-medium text-black-300 hover:bg-gray-950/5 hover:text-white" routerLink="/affectation">Affectations</a>
            <a class="rounded-md px-3 py-2 text-sm font-medium text-black-300 hover:bg-gray-950/5 hover:text-white" (click)="logout()">Se déconnecter</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>