 <app-generic-list-component
      title="Fonction"
      [data]="fonctions"
      [columns]="columns"
      [actions]="actions"
      [searchable]="true"
      [paginated]="true"
      [pageSize]="10"
      (addClicked)="onAddFonction()"
      (searchChanged)="onSearchChanged($event)"
    />
    
  <app-generic-modal-component 
      [show]="showModal"
      [title]="modalTitle"
      [fields]="formFields"
      [item]="selectedItem"
      [action]="modalAction"
      (close)="closeModal()"
    />